.Rproj.user
.Rhistory
.Ruserdata

# 'data processing' folder #
Data Processing/

# Common text files that may contain data #
*.[cC][sS][vV]
*.[tT][xX][tT]


# SPSS formats #
*.[sS][aA][vV]

# SAS format #
*.[sS][aA][sS]7[bB][dD][aA][tT]

# RStudio Connect folder
rsconnect/

.Rproj.user
.Rhistory
.Ruserdata
*.ods
*.rda
*.sas7bdat
*.csv
*.tsv
*.svg